.App {
  font-family: sans-serif;
  text-align: center;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  position: relative;

  left: 0px;
  top: 0px;

}

input:checked + svg {
  	display: block;
  }