.App {
  font-family: sans-serif;
  text-align: center;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  position: relative;

  left: 0px;
  top: 0px;

}

input:checked + svg {
  	display: block;
  }
/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
.div-shadow{
  box-shadow: 4px 0px 7px #b1b1b1;
  padding-right: 1em;
}
  /*::-webkit-scrollbar {
    width: 0px;
    background: transparent;  make scrollbar transparent
}*/